<?xml version="1.0" encoding="UTF-8"?>
<hivemq>
    <listeners>
        <tcp-listener>
            <port>1883</port>
            <bind-address>0.0.0.0</bind-address>
        </tcp-listener>
        <websocket-listener>
            <port>8000</port>
            <bind-address>0.0.0.0</bind-address>
            <path>/mqtt</path>
        </websocket-listener>
    </listeners>
    
    <mqtt>
        <session-expiry>
            <max-interval>86400</max-interval>
        </session-expiry>
        <message-expiry>
            <max-interval>86400</max-interval>
        </message-expiry>
        <queued-messages>
            <max-queue-size>1000</max-queue-size>
        </queued-messages>
    </mqtt>
    
    <security>
        <allow-empty-client-id>true</allow-empty-client-id>
        <allow-request-problem-information>true</allow-request-problem-information>
    </security>
</hivemq>